
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Rules</title>
    <link rel="stylesheet" href="../static/global.css"/>
    <link rel="stylesheet" href="../static/game-rules.css"/>

</head>

<body>

<nav class = "navbar">
    <div>
        <ul class = "nav-list">
            <li><a href ="../templates/home.html"> HOME</a></li>
            <li><a href="#lorem-ipsum">LOREM IPSUM</a></li>
            <li><a href="../templates/profile.html">PROFILE</a></li>
            <li><a href="../templates/game-rules.html">GAME RULES</a></li>
        </ul>
    </div>
</nav>

<div id="rules-div">
    <div id="rules-title-div">
        <h1>
        GAME RULES
        </h1>
    </div>

    <div id="goal-div">
        <h3>
        GOAL
        </h3>
        <p>
            To win at chess, a player must checkmate their opponent's king,
            which happens when the king is attacked and has no legal moves to
            escape. A player can also win by resignation or a time-out from
            the opponent.
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        KING
        </h4>
        <img src="../static/image/King_White.svg" alt="white king icon"/>
        <p>
        The King can move one square in any direction
        (horizontally, vertically, or diagonally).
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        PAWN
        </h4>
        <img src="../static/image/Pawn_White.svg" alt="white pawn icon"/>
        <p>
        On its first move, a Pawn can move one or two squares forward.
        Subsequent moves are only one square forward.
        Pawns capture diagonally one square forward.
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        QUEEN
        </h4>
        <img src="../static/image/Queen_White.svg" alt="white queen icon"/>
        <p>
        The most powerful piece in chess, the Queen combines the movement
        of the Rook and Bishop, meaning it can
        move any number of squares horizontally, vertically, or diagonally.
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        ROOK
        </h4>
        <img src="../static/image/Rook_White.svg" alt="white rook icon"/>
        <p>
        The Rook can move any number of squares horizontally or vertically.
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        BISHOP
        </h4>
        <img src="../static/image/Bishop_White.svg" alt="white bishop icon"/>
        <p>
        The Bishop can move any number of squares diagonally.
        </p>
    </div>

    <div class="pieces-rules-div">
        <h4>
        KNIGHT
        </h4>
        <img src="../static/image/Horse_White.svg" alt="white knight icon"/>
        <p>
        The Knight moves in an "L" shape: two squares in one direction and then
        one square perpendicular to that direction
        </p>
    </div>
</div>

</body>
</html>