<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/global.css"/>
</head>
<body>

<nav class = "navbar">
    <div>
        <ul class = "nav-list">
            <li><a href ="#home"> HOME</a></li>
            <li><a href="#lorem-ipsum">LOREM IPSUM</a></li>
            <li><a href="#Something">SOMETHING</a></li>
            <li><a href="#game-rules">GAME RULES</a></li>
        </ul>


    </div>
</nav>
<section id="board-section">
    <div id="board">
        <div class="row" id="row-one">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-two">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-three">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-four">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-five">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-six">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-seven">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
        <div class="row" id="row-eight">
            <div class="col col-one"></div>
            <div class="col col-two"></div>
            <div class="col col-three"></div>
            <div class="col col-four"></div>
            <div class="col col-five"></div>
            <div class="col col-six"></div>
            <div class="col col-seven"></div>
            <div class="col col-eight"></div>
        </div>
    </div>
</section>
<script src="../static/global.js" type="module"></script>
</body>
</html>