<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UWRF Chess</title>
    <link rel="stylesheet" href="../static/global.css"/>
</head>
<body>

<nav class="navbar">
    <div>
        <ul class="nav-list">
            <li><a href =../templates/home.html> HOME</a></li>
            <li><a href="#lorem-ipsum">LOREM IPSUM</a></li>
            <li><a href="#Something">SOMETHING</a></li>
            <li><a href="../templates/game-rules.html">GAME RULES</a></li>
        </ul>


    </div>
</nav>
<section id="board-section">
    <div id="board">
        <div class="row" id="row-one">
            <div class="col col-one">
                <img src="../static/image/Rook_Black.svg" alt="black rook icon" class="piece-img"/>
            </div>
            <div class="col col-two">
                <img src="../static/image/Horse_Black.svg" alt="black horse icon" class="piece-img"/>
            </div>
            <div class="col col-three">
                <img src = "../static/image/Bishop_Black.svg" alt="black bishop icon" class="piece-img"/>
            </div>
            <div class="col col-four">
                <img src = "../static/image/Queen_Black.svg" alt="black queen icon" class="piece-img"/>
            </div>
            <div class="col col-five">
                <img src="../static/image/King_Black.svg" alt="black king icon" class="piece-img"/>
            </div>
            <div class="col col-six">
                <img src="../static/image/Bishop_Black.svg" alt="black bishop icon" class="piece-img"/>
            </div>
            <div class="col col-seven">
                <img src="../static/image/Horse_Black.svg" alt="black horse icon" class="piece-img"/>
            </div>
            <div class="col col-eight">
                <img src="../static/image/Rook_Black.svg" alt="black rook icon" class="piece-img"/>
            </div>
        </div>
        <div class="row" id="row-two">
            <div class="col col-one">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-two">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-three">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-four">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-five">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-six">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-seven">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
            <div class="col col-eight">
                <img src="../static/image/Pawn_Black.svg" alt="black pawn icon" class="piece-img"/>
            </div>
        </div>
        <div class="row" id="row-three">
            <div class="col col-one">

            </div>
            <div class="col col-two">

            </div>
            <div class="col col-three">

            </div>
            <div class="col col-four">

            </div>
            <div class="col col-five">

            </div>
            <div class="col col-six">

            </div>
            <div class="col col-seven">

            </div>
            <div class="col col-eight">

            </div>
        </div>
        <div class="row" id="row-four">
            <div class="col col-one">

            </div>
            <div class="col col-two">

            </div>
            <div class="col col-three">

            </div>
            <div class="col col-four">

            </div>
            <div class="col col-five">

            </div>
            <div class="col col-six">

            </div>
            <div class="col col-seven">

            </div>
            <div class="col col-eight">

            </div>
        </div>
        <div class="row" id="row-five">
            <div class="col col-one">

            </div>
            <div class="col col-two">

            </div>
            <div class="col col-three">

            </div>
            <div class="col col-four">

            </div>
            <div class="col col-five">

            </div>
            <div class="col col-six">

            </div>
            <div class="col col-seven">

            </div>
            <div class="col col-eight">

            </div>
        </div>
        <div class="row" id="row-six">
            <div class="col col-one">

            </div>
            <div class="col col-two">

            </div>
            <div class="col col-three">

            </div>
            <div class="col col-four">

            </div>
            <div class="col col-five">

            </div>
            <div class="col col-six">

            </div>
            <div class="col col-seven">

            </div>
            <div class="col col-eight">

            </div>
        </div>
        <div class="row" id="row-seven">
            <div class="col col-one">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-two">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-three">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-four">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-five">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-six">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-seven">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
            <div class="col col-eight">
                <img src="../static/image/Pawn_White.svg" alt="white pawn icon" class="piece-img"/>
            </div>
        </div>
        <div class="row" id="row-eight">
            <div class="col col-one">
                <img src="../static/image/Rook_White.svg" alt="white rook icon" class="piece-img"/>
            </div>
            <div class="col col-two">
                <img src="../static/image/Horse_White.svg" alt="white horse icon" class="piece-img"/>
            </div>
            <div class="col col-three">
                <img src="../static/image/Bishop_White.svg" alt="white bishop icon" class="piece-img"/>
            </div>
            <div class="col col-four">
                <img src="../static/image/Queen_White.svg" alt="white Queen icon" class="piece-img"/>
            </div>
            <div class="col col-five">
                <img src="../static/image/King_White.svg" alt="white King icon" class="piece-img"/>
            </div>
            <div class="col col-six">
                <img src="../static/image/Bishop_White.svg" alt="white bishop icon" class="piece-img"/>
            </div>
            <div class="col col-seven">
                <img src="../static/image/Horse_White.svg" alt="white horse icon" class="piece-img"/>
            </div>
            <div class="col col-eight">
                <img src="../static/image/Rook_White.svg" alt="white rook icon" class="piece-img"/>
            </div>
        </div>
    </div>
</section>
<script src="../static/global.js" type="module"></script>
<script src="../static/board.js" type="module"></script>
</body>
</html>