<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/global.css"/>
    <link rel="stylesheet" href="../static/profile.css"/>

</head>

<body>

<nav class = "navbar">
    <div>
        <ul class = "nav-list">
            <li><a href ="../templates/home.html"> HOME</a></li>
            <li><a href="#lorem-ipsum">LOREM IPSUM</a></li>
            <li><a href="../templates/profile.html">PROFILE</a></li>
            <li><a href="../templates/game-rules.html">GAME RULES</a></li>
        </ul>
    </div>
</nav>

<section id="profile-section">

    <div id="left-bio-div">
        <h4>
            Bio
        </h4>
        <p>
            Freddy Falcon stormed onto the chess scene in his early teens,
            quickly gaining a reputation for his unpredictable yet precise
            style. Known for his sharp tactical vision, Falcon earned his
            first national title at age 16, defeating seasoned grandmasters
            with daring sacrifices and lightning-fast calculations.
        </p>
        <h4>
            Recent opponents
        </h4>
    </div>

    <div id="right-user-div">
        <img src="../static/image/Freddy_Chess.png" alt="freddy_chess icon"/>
        <h5>
            Username: Freddy
        </h5>
        <h5>
            Elo: 1250
        </h5>
    </div>
</section>


</body>
</html>